<!DOCTYPE html>
<html data-theme="">

<head>
	<meta charSet="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Minimal News</title>
	<link rel="manifest" href="manifest.json">
    <link rel="stylesheet" href="css/main.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
	<div id="__next" class = "wrapper">
		<div class="news">
			<nav>
				<div class="nav-item menu">
				  <a id="app-name" href="/">
					<img class="logo" src="./images/logo.png" alt="">
				  </a>
				</div>
				<div class="nav-item">
				  <div class="invertIcon material-icons md-25" onclick="changeTheme()">invert_colors</div>
				  <a href="https://github.com/devansh016/Minimal-News" target="_blank"><img src="./images/github.png" class="icon" alt=""></a>
				</div>
				<div class="nav-dropdown">
				  asdfasd
				</div>
			</nav>
			<div class="news hero" id ="ans">
			</div>
		</div>
		<div>
        <!--This is to render articles -->
            <%- data%>
	</div>
    <!--Footer-->
	<footer>
		<div class="main-content">
			<h3 class="cp title">Minimal News &copy; 2021</h3>
			<p class="sub-title">Stay updated with the latest news with Minimal News!</p>
		</div>
		<div class="section">
			<h4>Explore</h4>
			<div class="links">
				<a href="/" class="link">Home</a>
				<a href="/contributors" class="link">Contributors</a>
				<a href="/feedback" class="link">Feedback</a>
			</div>
		</div>
		<div class="section">
			<h4>Support and Follow</h4>
			<div class="links">
				<a href="https://github.com/devansh016/Minimal-News" class="link" target="_blank">Github</a>
				<a href="https://twitter.com/devansh016" class="link" target="_blank">Twitter</a>
				<a href="https://www.linkedin.com/in/devansh-chaudhary/" class="link" target="_blank">LinkedIn</a>
			</div>
		</div>
	</footer>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-C5FSFLE590"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'G-C5FSFLE590');
</script>
<a href="#" id="scroll-to-top">
	<span class="material-icons">expand_less</span>
</a>
<script src="js/script.js"></script>
</body>
</html>