<!DOCTYPE html>
<html data-theme="">

<head>
	<meta charSet="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Minimal News</title>
    <link rel="stylesheet" href="css/main.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
	<div id="__next" class = "wrapper">
		<div class="news">
			<nav class="navbar">
				<ul class="navbar">
					<li class="navbar-item">
						<a href="/">
							<img src="./images/banner.png" class="logo" alt="">
							<a href="/feedback" class="navbar">Feedback</a> 
						</a>
					</li>
					 
					<li class="navbar-item">

						<div class="invertIcon material-icons md-25" onclick="changeTheme()">invert_colors</div>
						<a href="https://github.com/devansh016/Minimal-News" class="navbar"><img class="icon" src="./images/github.png"/></a>
					</li> 
				</ul>
				
			</nav>
			
			<div class="news hero" id ="ans">
			</div>
		</div>
		<div>
        <!--This is to render articles -->
            <%- data%>
	</div>
    <!--Footer-->
	<footer>
		<div class = "footer-div">
			<a href = "/contributors"><button class = "footer-button">Contributors</button></a>
		</div>
		<div class="backToTop material-icons md-25" onclick="backToTop()">arrow_upward</div>
    </div>
</div>
	</footer>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-C5FSFLE590"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'G-C5FSFLE590');
</script>
<script src="js/script.js"></script>
</body>
</html>