html {
  --bg: rgb(237, 237, 237);
  --primaryAccent: rgb(6, 125, 247);
  --textDescription: rgb(51, 51, 51);
  --textHeadlines: rgb(67, 67, 67);
  --cardAccent: rgb(255, 255, 255);
  --cardHoverAccent: rgb(228, 242, 255);
  --bgSubcards: rgb(208, 223, 238);
}
html[data-theme="dark"] {
  --bg: rgb(35, 35, 35);
  --primaryAccent: rgb(68, 111, 197);
  --textDescription: rgb(140, 140, 172);
  --textHeadlines: rgb(237, 237, 237);
  --cardAccent: rgb(45, 45, 45);
  --cardHoverAccent: rgb(11, 14, 44);
  --bgSubcards: rgb(18, 27, 48);
}

html {
  margin-left: -10px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Avenir Next, Avenir, Helvetica,
    sans-serif;
  background-color: var(--bg);
}

nav.navbar {
  user-select: none;
  text-align: center;
  max-width: 880px;
  margin: 0 auto;
}

#app-name {
  padding-left: 60px;
  font-size: 2rem;
}

ul.navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  align-items: baseline;
}

nav.navbar > ul.navbar {
  padding: 4px 10px;
}

li.navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 6px 8px;
}

a.navbar {
  color: var(--primaryAccent);
  font-weight: 600;
  -webkit-text-decoration: none;
  text-decoration: none;
  font-size: 1rem;
}

.contactContainer {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
}

#contactMe {
  margin: 50px 0;
  padding: 2em;
  background-color: var(--cardAccent);
  border-radius: 15px;
  font-family: -apple-system, BlinkMacSystemFont, Avenir Next, Avenir, Helvetica,
    sans-serif;
}

h2 {
  margin-bottom: 1em;
  text-align: center;
  color: var(--textHeadlines);
}

h4 {
  margin-bottom: 2em;
  color: var(--textDescription);
}

#contactMe input[type="text"],
#contactMe input[type="email"],
#contactMe textarea {
  box-sizing: border-box;
  width: 100%;
  border: none;
  outline: none;
  background-color: var(--bgSubcards);
  border-radius: 5px;
  margin: 0 0 5px;
  padding: 10px;
  color: var(--textHeadlines);
  font-size: 1.025rem;
  font-weight: bolder;
}

#contactMe textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
  font-family: -apple-system, BlinkMacSystemFont, Avenir Next, Avenir, Helvetica,
    sans-serif;
}

#contactSubmit {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  width: 30%;
  height: 10px;
  align-items: center;
  cursor: pointer;
  border: none;
  background: var(--primaryAccent);
  color: var(--bg);
  margin: 0 120px 5px;
  padding: 20px;
  font-size: 1em;
  font-weight: 500;
  border-radius: 5px;
}

#contactSubmit:hover {
  filter: brightness(1.2);
  transform: translateY(2px);
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contactMe input:focus,
#contactMe textarea:focus {
  filter: brightness(0.8);
}

::-webkit-input-placeholder {
  color: var(--textDescription);
}

:-moz-placeholder {
  color: var(--textDescription);
}

::-moz-placeholder {
  color: var(--textDescription);
}

:-ms-input-placeholder {
  color: var(--textDescription);
}

fieldset {
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-before: 0;
  -webkit-padding-start: 0;
  -webkit-padding-end: 0;
  -webkit-padding-after: 0;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

/* Theme Invert Icon */
.invertIcon {
  z-index: 20;
  box-sizing: content-box;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: solid 5px var(--bgSubcards);
  background-color: var(--bgSubcards);
  margin-top: -0.5rem;
  margin-left: 2vw;
  display: inline;
  color: var(--textHeadlines);
  cursor: pointer;
}
.material-icons.md-25 {
  font-size: 1.5rem;
}

@media screen and (max-width: 600px) {
  ul.navbar {
    flex-direction: column;
    align-items: center;
  }
  ul.navbar :nth-child(2) {
    order: -1;
  }
  #app-name {
    padding: 0px;
    font-size: 3rem;
  }
  body {
    padding-bottom: 70px;
  }
}
