html{
    --bg:               rgb(237, 237, 237);
    --primaryAccent:    rgb(6, 125, 247);
    --textDescription:  rgb(51, 51, 51);
    --textHeadlines:    rgb(67, 67, 67);
    --cardHoverAccent:  rgb(228, 242, 255);
    --bgSubcards:       rgb(217, 233, 250);
}
html[data-theme='dark']{
    --bg:               rgb(0, 1, 13);
    --primaryAccent:    rgb(68, 111, 197);
    --textDescription:  rgb(140, 140, 172);
    --textHeadlines:    rgb(237, 237, 237);
    --cardHoverAccent:  rgb(11, 14, 44);
    --bgSubcards:       rgb(18, 27, 48);
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Avenir Next, Avenir, Helvetica, sans-serif;
    background-color: var(--bg);
}

nav.navbar {
    user-select: none;
    text-align: center;
    max-width: 880px;
    margin: 0 auto;
}

ul.navbar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

nav.navbar>ul.navbar {
    padding: 4px 10px;
}

li.navbar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 6px 8px;
}

a.navbar {
    color: var(--primaryAccent);
    font-weight: 600;
    -webkit-text-decoration: none;
    text-decoration: none;
    font-size: 1rem;
}

.hero.news {
    width: 100%;
    color: var(--textDescription);
}

.title.news {
    margin: 0;
    width: 100%;
    padding-top: 80px;
    line-height: 1.15;
    font-size: 55px;
}

.title.news,
.description.news {
    text-align: center;
}

.row.news {
    max-width: 880px;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: space-around;
    -webkit-justify-content: space-around;
    -ms-flex-pack: space-around;
    justify-content: space-around;
}

@-webkit-keyframes Loading-news {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes Loading-news {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.card.news {
    padding: 18px 18px 24px;
    text-align: left;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: var(--textHeadlines);
    width: 100%;
}

.card.news:hover {
    background-color: var(--cardHoverAccent);
    border-radius: 15px;
}

.card.news h3.news {
    margin: 0;
    font-size: 18px;
}

.card.news p.news {
    margin: 0;
    padding: 6px 0 0;
    font-size: 15px;
    color: var(--textDescription);
}

.card.news .byline.news {
    padding: 10px 0 5px;
    font-size: 15px;
}

.card.news .byline.news .source.news {
    padding: 2px 5px;
    margin-right: 5px;
    border-radius: 5px;
    background-color: var(--bgSubcards);
}

/* Custom Scroll Bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: var(--bgSubcards);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--primaryAccent);
}

/* Theme Invert Icon */
.invertIcon{
    box-sizing: content-box;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: solid 5px var(--bgSubcards);
    background-color: var(--bgSubcards);
    margin-top: -0.5rem;
    margin-left: 2vw;
    display: inline;
    color: var(--textHeadlines);
    cursor: pointer;
}
.material-icons.md-25 {
    font-size: 1.5rem;
}

/* Theme Transition */
html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}
