html {
  --bg: rgb(237, 237, 237);
  --primaryAccent: rgb(6, 125, 247);
  --primaryHoverAccent: rgb(11, 95, 179);
  --textDescription: rgb(51, 51, 51);
  --textHeadlines: rgb(67, 67, 67);
  --cardAccent: rgb(255, 255, 255);
  --cardHoverAccent: rgb(228, 242, 255);
  --bgSubcards: rgb(193, 222, 253);
  --btnDropShadow: rgb(202, 198, 198);

  scroll-behavior: smooth;
  height: 100%;
}

html[data-theme="dark"] {
  --bg: rgb(35, 35, 35);
  --primaryAccent: rgb(68, 111, 197);
  --primaryHoverAccent: rgb(47, 81, 156);
  --textDescription: rgb(140, 140, 172);
  --textHeadlines: rgb(237, 237, 237, 0.8);
  --cardAccent: rgb(45, 45, 45);
  --cardHoverAccent: rgb(35, 49, 83);
  --bgSubcards: rgb(66, 92, 153);
  --btnDropShadow: rgb(42, 42, 42);
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Avenir Next, Avenir, Helvetica, sans-serif;
  background-color: var(--bg);
  height: 100%;
}

.wrapper {
  height: auto;
  min-height: 100%;
}

nav {
  max-width: 880px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}

.navbar-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav .logo {
  height: 50px;
}

nav .icon {
  height: 33px;
  margin-left: 10px;
}

.nav-item {
  display: flex;
  align-items: center;
}

nav a {
  color: var(--primaryAccent);
  font-weight: 600;
  -webkit-text-decoration: none;
  text-decoration: none;
  font-size: 1rem;
  transition: 0.2s all;
}

nav a:hover {
  text-decoration: underline;
}

.menu a {
  padding-right: 10px;
}

.nav-dropdown {
  display: none;
}

@media only screen and (max-width: 600px) {
  nav .logo {
    height: 40px;
  }

  nav {
    padding-right: 10px;
  }

}

.hero.news {
  width: 100%;
  color: var(--textDescription);
}

.title.news {
  margin: 0;
  width: 100%;
  padding-top: 80px;
  line-height: 1.15;
  font-size: 55px;
}

.title.news,
.description.news {
  text-align: center;
}

.row.news {
  max-width: 880px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: space-around;
  -webkit-justify-content: space-around;
  -ms-flex-pack: space-around;
  justify-content: space-around;
}

@-webkit-keyframes Loading-news {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Loading-news {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.card.news {
  padding: 18px 18px 24px;
  margin: 5px;
  border-radius: 15px;
  text-align: left;
  -webkit-text-decoration: none;
  text-decoration: none;
  color: var(--textHeadlines);
  background-color: var(--cardAccent);
  width: 100%;
  transition: 0.2s all;
}

.card.news:hover {
  background-color: var(--cardHoverAccent);
  /* border-radius: 15px; */
}

.card.news h3.news {
  margin: 0;
  font-size: 18px;
}

.card.news p.news {
  margin: 0;
  padding: 6px 0 0;
  font-size: 15px;
  color: var(--textDescription);
}

.card.news .byline.news {
  padding: 10px 0 5px;
  font-size: 15px;
}

.card.news .byline.news .source.news {
  /* padding: 2px 5px; */
  padding: 5px;
  margin-right: 5px;
  border-radius: 5px;
  background-color: var(--bgSubcards);
}
/*footer*/

footer {
  position: relative;
  bottom: 0;
  color: var(--textHeadlines);
  background-color: var(--bgSubcards);
  margin-top: 30px;
  padding: 20px 0;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

footer .main-content .title {
  font-weight: bold;
  text-align: left;
}

footer .main-content .sub-title {
  text-align: left;
  max-width: 55%;
  line-height: 1.5rem;
}

footer .links {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  line-height: 1.5rem;
}

footer .links .link {
  color: var(--textHeadlines);
  text-decoration: none;
}

footer .links .link:hover {
  color: var(--textHeadlines);
  text-decoration: underline;
}

/* Custom Scroll Bar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: var(--bgSubcards);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--primaryAccent);
}

/* Smooth Scroll */
html {
  scroll-behavior: smooth;
}

/* Theme Invert Icon */
.invertIcon {
  box-sizing: content-box;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: solid 5px var(--bgSubcards);
  background-color: var(--bgSubcards);
  display: inline;
  color: var(--textHeadlines);
  cursor: pointer;
}

.material-icons.md-25 {
  font-size: 1.5rem;
}

/* scroll to top */
#scroll-to-top {
  position: fixed;
  width: 50px;
  height: 50px;
  background: var(--bgSubcards);
  color: var(--textHeadlines);
  right: 20px;
  text-decoration: none;
  border-radius: 50%;
  display: grid;
  place-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 300ms;
}

#scroll-to-top.active {
  bottom: 20px;
  pointer-events: auto;
  opacity: 1;
}
/* Theme Transition */
html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}

@media screen and (max-width: 600px) {
  ul.navbar {
    flex-direction: column;
    align-items: center;
  }
  ul.navbar :nth-child(2) {
    order: -1;
  }
  #app-name {
    padding: 0px;
    font-size: 2.5rem;
  }

  #scroll-to-top {
    right: 18px;
  }

  #scroll-to-top.active {
    bottom: 18px;
  }

  body {
    padding-bottom: 70px;
  }
  .news.row {
    margin: 0 0.5rem;
  }
  .card.news p.news {
    padding: 0.5rem 0 0;
  }
  .card.news .byline.news {
    padding: 0.75rem 0 5px;
  }
  
  footer {
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
    padding-left: 2rem;
  }

  footer .main-content .sub-title{
    max-width: 75%;
  }
}
