html {
  --cardBg: rgb(255, 255, 255);
  --textColor: rgb(51, 51, 51);
  --cardAccent: rgb(11, 95, 179);
}
html[data-theme="dark"] {
  --cardBg: rgb(45, 45, 45);
  --textColor: rgb(237, 237, 237, 0.8);
  --cardAccent: rgb(47, 81, 156);
}

* {
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  margin-top: 50px;
}

.contributors {
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  flex-wrap: wrap;
  margin-top: 100px;
}

.contributors .contributor {
  background: var(--cardBg);
  margin: 5px;
  margin-bottom: 80px;
  width: 300px;
  padding: 20px;
  line-height: 20px;
  border-radius: 15px;
  position: relative;
}

.contributors .contributor h3 {
  color: var(--textColor);
  font-size: 26px;
  margin-top: 50px;
}

.contributors .contributor p.role {
  color: #ccc;
  margin: 12px 0;
  font-size: 12px;
  text-transform: uppercase;
}

.contributors .contributor .contributor_img {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: var(--cardAccent);
}

.contributors .contributor .contributor_img img {
  width: 100px;
  height: 100px;
  padding: 5px;
  border-radius: 50%;
}

.button {
  background-color: var(--cardAccent); /* Green */
  border: none;
  color: #FFFFFF;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 40px;
  cursor: pointer;
}
